---
import type { Hero as Props } from '~/types';
import { Image } from 'astro:assets';
import Button from '~/components/ui/Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  actions = [],
  image,
} = Astro.props;
---

<section class="relative h-screen not-prose">
  {
    image && (
      <Image
        src={image.src}
        alt={image.alt || ''}
        class="absolute inset-0 object-cover w-full h-full"
        loading="eager"
      />
    )
  }
  <div class="absolute inset-0 bg-black/50"></div>
  <div class="relative h-full flex items-center justify-center">
    <div class="text-center text-white">
      {
        title && (
          <h1
            class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
            set:html={title}
          />
        )
      }
      {
        subtitle && (
          <p class="text-xl mb-6" set:html={subtitle} />
        )
      }
      {
        actions && (
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            {actions.map((action) => (
              <div class="flex w-full sm:w-auto">
                <Button {...(action || {})} class="w-full sm:mb-0" />
              </div>
            ))}
          </div>
        )
      }
    </div>
  </div>
</section>
