---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Bio from '~/components/widgets/Bio.astro';

const metadata = {
  title: 'Biographie',
  description: 'Le parcours de Maxence Mey, de la natation au triathlon professionnel.',
};
---

<Layout metadata={metadata}>
  <Bio />

  <Content title="Philosophie" subtitle="Le plaisir comme moteur">
    <Fragment slot="content">
      <p class="text-lg">
        Comme il le partage dans son interview sur le podcast <a
          href="https://shows.acast.com/devenir-triathlete-par-ohana/episodes/364"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary-600 hover:underline">Devenir Triathlète</a
        >, l'approche de Maxence est simple : "s'amuser... c'est hyper important." Cette philosophie lui permet
        d'aborder la rigueur de l'entraînement de haut niveau avec une perspective saine, en se concentrant sur le
        plaisir de l'effort et le dépassement de soi.
      </p>
    </Fragment>
  </Content>
</Layout>
