---
import { getPermalink } from '~/utils/permalinks';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Accueil',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Suivre sur Instagram',
        href: 'https://instagram.com/maxencemeytri',
        target: '_blank',
        icon: 'tabler:brand-instagram',
      },
      { text: 'Contact', href: getPermalink('/contact') },
    ]}
    image={{
      src: 'https://cdn-s-www.leprogres.fr/images/3DC4DB45-9398-49F1-B5CA-F101512ACCAC/NW_raw/maxence-mey-vainqueur-de-la-course-reine-photo-patrick-bonjour-1749407298.jpg',
      alt: 'Maxence Mey triathlète',
    }}
  >
    <Fragment slot="title"> Maxence Mey </Fragment>

    <Fragment slot="subtitle">
      <span class="block sm:inline">Triathlète professionnel</span>
      <span class="hidden sm:inline"> · </span>
      <span class="block sm:inline">Middle Distance / 70.3</span>
    </Fragment>
  </Hero>

  <!-- Stats Widget -->
  <Stats
    stats={[
      { title: 'Victoire', amount: 'IM 70.3 Tanger 2023' },
      { title: 'Podium', amount: 'Challenge Turku 2025' },
      { title: 'Top 10', amount: 'Challenge Gdańsk 2025' },
      { title: 'Club', amount: 'KEFORMA / Munegu' },
    ]}
  />

  <!-- CallToAction Widget -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Devenir partenaire',
        href: getPermalink('/partenaires'),
      },
    ]}
  >
    <Fragment slot="title"> Soutenir un athlète de haut niveau </Fragment>

    <Fragment slot="subtitle"> Associez votre image à un projet sportif ambitieux et authentique. </Fragment>
  </CallToAction>
</Layout>
